.addVehicle1{
    width: 35%;
    background-color: rgb(206, 235, 213);
    box-shadow: 1px 1px 8px rgba(0,0,0, 0.065);
    border-radius: 15px;
    margin: 50px auto;
    padding: 60px;
    height: 50%;
}

.addVehicleForm1 .inputGroup1{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.addVehicleForm1{
    margin-top: 11px;
}

.addVehicleForm1 .inputGroup1 label{
    margin-bottom: 8px;
}

.addVehicleForm1 .inputGroup1 input{
    margin-bottom: 15px;
    padding: 15px;
    outline: none;
}

.addVehicleForm1 .inputGroup1 button{
    border: 0;
    outline: none;
    background-color: yellow;
    color: black;
    font-weight: bolder;
    padding: 15px;
    border: 1.5px solid black;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 20px;
}

.addVehicleForm1 h3{
    margin-top: 10px;
    font-size: 27px;
}

.backHome1{
    background-color: aquamarine;
    text-decoration: none;
    padding: 2px 5px;
    border-radius: 8px;
    color: black;
    
}

.alert1{
    font-family: monospace;
    font-weight: bolder;
    font-size: 20px;
}