.addUser{
    width: 25%;
    background-color: white;
    box-shadow: 1px 1px 8px rgba(0,0,0, 0.065);
    border-radius: 15px;
    margin: 50px auto;
    padding: 50px;
}

.addUserForm .inputGroup{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.addUserForm{
    margin-top: 20px;
}

.addUserForm .inputGroup label{
    margin-bottom: 2px;
}

.addUserForm .inputGroup input{
    margin-bottom: 15px;
    padding: 10px;
    outline: none;
}

.addUserForm .inputGroup button{
    border: 0;
    outline: none;
    background-color: yellow;
    color: black;
    font-weight: bolder;
    padding: 15px;
    border: 1.5px solid black;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 20px;
}

.addUser h3{
    margin-top: 10px;
    font-size: 27px;
}

.backHome{
    background-color: aquamarine;
    text-decoration: none;
    padding: 2px 5px;
    border-radius: 8px;
    color: black;
    
}

.alert{
    font-family: monospace;
    font-weight: bolder;
    font-size: 20px;
}