*{
    margin: 0px;
    padding: 0px;
}

#username{
    color: white;
    font-family: cursive;
    margin-right: 10px;
    margin-top: 2px;
}

.navbar{
    height: 70px;
}

.item{
    font-weight: bolder;
}

.Logo{
    width: 70px;
    margin-top: -3px;
    margin-left: -8px;
}

#signup{
    background-color: white;
    color: black;
    font-weight: bold;
    text-align: center;
    border-radius: 30px;
    width: 120px;
    font-family: monospace;
    margin-right: 25px;
    font-size: 18px;
    border: none;
}

#signin{
    background-color: #55BE15;
    color: black;
    font-weight: bold;
    text-align: center;
    border-radius: 30px;
    width: 120px;
    font-family: monospace;
    font-size: 18px;
    border: none;
}

#profile{
    background-color: white;
    color: black;
    font-weight: bold;
    text-align: center;
    border-radius: 30px;
    width: 120px;
    font-family: monospace;
    margin-right: 25px;
    font-size: 18px;
    border: none;
}

#logout{
    background-color: #55BE15;
    color: black;
    font-weight: bold;
    text-align: center;
    border-radius: 30px;
    width: 120px;
    font-family: monospace;
    font-size: 18px;
    border: none;
}

.avatar{
    width: 38px;
    height: 38px;
    margin-right: 25px;
    margin-top: 2px;
}

.avatar1{
    width: 38px;
    height: 38px;
    margin-right: 5px;
    margin-top: 2px;
}

.siteName{
    text-decoration: none;
}

/* Footer */

.footer{
    width: 1519px;
    height: 574px;
    background-color: #62DB67;
    margin-top: 300px;
    margin-left: -112px;
    margin-bottom: -30;
}

.foot{
    width: 1519px;
    height: 574px;
    margin-bottom: -50px;
}

.copyright{
    text-align: center;
    margin-top: 13px;
    font-family: monospace;
    font-weight: bold;
    margin-bottom: -40px;
}

.footlinks{
    width: 266px;
    height: 400px;
    margin-top: -450px;
    margin-left: 600px;
}

.heading{
    text-align: center;
    font-size: 30px;
    font-family: monospace;
    font-weight: bold;
    margin-bottom: 40px;
}

#footlink{
    text-decoration: none;
    text-align: center;
    color: black;
    font-family: monospace;
    font-style: italic;
    font-weight: bold;
    margin-left: 35px;
    font-size: 21px;
    margin-bottom: 10px;
}

/* Packages */

.reservationTopic{
    text-align: center;
    font-size: 50px;
    font-family: monospace;
    font-weight: bold;
    margin-top: 20px;
}

.paymentForm{
    width: 778px;
    height: 600px;
    border-radius: 30px;
    background-color: white;
    margin-left: 150px;
    margin-top: 30px;
    position: absolute;
}

.gateway{
    padding-top: 10px;
    background-color: #D7FFBF;
    width: 400px;
    height: 540px;
    margin-left: 30px;
    margin-top: 30px;
    position: relative;
    border-radius: 20px;
}

.labelName{
    margin-left: 60px;
    font-size: 24px;
    font-family: monospace;
    margin-top: 10px;
}

.textviewCN{
    width: 310px;
    height: 40px;
    background-color: #D9D9D9;
    border-radius: 10px;
    margin-left: 45px;
    font-family: monospace;
    font-size: 20px;
}

.textviewMonth{
    width: 90px;
    height: 40px;
    background-color: #D9D9D9;
    border-radius: 10px;
    margin-left: 45px;
    font-family: monospace;
    font-size: 20px;
}

.textviewYear{
    width: 90px;
    height: 40px;
    background-color: #D9D9D9;
    border-radius: 10px;
    margin-left: 5px;
    font-family: monospace;
    font-size: 20px;
}

.mx-2{
    font-size: 28px;
    margin-top: -3px;
}

.textviewCVV{
    width: 90px;
    height: 40px;
    background-color: #D9D9D9;
    border-radius: 10px;
    margin-left: 45px;
    font-family: monospace;
    font-size: 20px;
}

#saveBTNPay{
    width: 300px;
    height: 56px;
    background-color: #0DF316;
    font-size: 24px;
    font-family: monospace;
    border-radius: 20px;
    color: black;
    font-weight: bold;
    margin-left: 50px;
    margin-top: 20px;
    border: none;
}

#saveBTNPay:hover{
    background-color: black;
    color: lime;
}

.cardButton1{
    width: 65px;
    height: 55px;
    border-radius: 10px;
    border: none;
    margin-left: 50px;
    background-color: transparent;
}

.cardButton1:active{
    border: 2px solid black;
}

.cardButton2{
    width: 65px;
    height: 55px;
    border-radius: 10px;
    border: none;
    margin-right: 200px;
    background-color: transparent;
}

.cardButton2:active{
    border: 2px solid black;
}

.labelNameCN{
    margin-left: 60px;
    font-size: 24px;
    font-family: monospace;
    margin-top: -15px;
}

.priceBox{
    padding-top: 10px;
    background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
    width: 300px;
    height: 540px;
    margin-left: 450px;
    margin-top: -540px;
    position: relative;
    border-radius: 20px;
}

.packagename{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-family: monospace;
    margin-top: 40px;
}

.pricelabel{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    font-family: monospace;
}

.packBoxImage{
    width: 330px;
    height: auto;
    margin-left: -20px;
    margin-top: -25px;
}