@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

* {
    position: relative;
}

.bacgroundImage2 {
    background-color: #D9D9D9;
    width: 1100px;
    height: 855px;
    float: right;
    margin-right: -60px;
    margin-bottom: 50px;
    border-radius: 25px;
    position: relative;
}

.signUpBG {
    width: 500px;
    height: 775px;
    float: left;
    border-radius: 25px;
    margin-left: 39px;
    margin-top: 35px;
}

.signUImage {
    width: 500px;
    height: 775px;
    border-radius: 25px;
}

.signUpForm {
    width: 481px;
    height: 775px;
    background-color: #ffffff;
    float: left;
    border-radius: 25px;
    margin-left: 39px;
    margin-top: 35px;
}

.formTitle {
    font-size: 48px;
    text-align: center;
    font-weight: bold;
    margin-top: 35px;
    font-family: monospace;
    margin-bottom: 15px;
}

.labelName {
    margin-left: 60px;
    font-size: 24px;
    font-family: monospace;
    margin-top: 10px;
}

.textview {
    width: 385px;
    height: 40px;
    background-color: #D9D9D9;
    border-radius: 20px;
    margin-left: 45px;
    font-family: monospace;
    font-size: 20px;
}

.visiblePassword {
    border-radius: 20px;
    background-color: white;
}

.textview1 {
    width: 430px;
}

.textview option:checked {
    background-color: green;
    color: white;
}

.ProfileUpdateButton {
    width: 144px;
    height: 56px;
    background-color: #0DF316;
    font-size: 24px;
    font-family: monospace;
    border-radius: 30px;
    color: black;
    font-weight: bold;
    margin-left: 55px;
    margin-top: 35px;
    border: none;
}

.ProfileUpdateButton:hover {
    background-color: black;
    color: lime;
}

.driverUpdateButton{
    width: 144px;
    height: 56px;
    background-color: #0DF316;
    font-size: 24px;
    font-family: monospace;
    border-radius: 30px;
    color: black;
    font-weight: bold;
    margin-left: 13px;
    margin-top: 37px;
    border: none;
}


#licenseCard {
    width: 144px;
    height: 56px;
    background-color: #000000;
    font-size: 18px;
    font-family: monospace;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    border: none;
    margin-top: 35px;
    margin-left: 15px;
}

#licenseCard:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 2px solid black;
}

.alreadyAcc {
    font-family: monospace;
    font-size: 14px;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 110px;
}

.QuoteBar {
    width: 1020px;
    height: 63px;
    background-color: #D7FFBF;
    margin-top: 823px;
    margin-left: 36px;
    border-radius: 25px;
}

.quote {
    margin-left: 170px;
    font-family: monospace;
    font-size: 24px;
    padding-top: 14px;
    font-weight: bold;
}

.herb {
    width: 50px;
    height: 50px;
    float: right;
    margin-right: 180px;
    margin-top: -60px;
}

.toggle-dark-mode {
    margin-top: -55px;
    float: right;
    margin-right: 370px;
    width: 36px;
    height: 36px;
    background-color: #000000;
}

.iconbackChangeSun {
    font-size: 22px;
    margin-left: -6px;
    margin-top: -4px;
    /* Set the desired size */
    color: white;
}

.iconbackChangeMoon {
    font-size: 22px;
    margin-left: -6px;
    margin-top: -4px;
    /* Set the desired size */
    color: lime;
}

.deactivate-account-button{
    width: 174px;
    height: 56px;
    background-color: #ff3300;
    font-size: 18px;
    font-family: monospace;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    margin-left: 50px;
    margin-top: 35px;
    border: none;
}

.deactivate-account-button:hover{
    background-color: #000000;
    color: lime;
}

.modalTitle{
    font-family: monospace;
    font-weight: bold;
}

.confirmationMessage{
    font-family: cursive;
    font-style: italic;
}

.driverAccDelete{
    width: 134px;
    height: 56px;
    background-color: #ff3300;
    font-size: 15px;
    font-family: monospace;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    margin-left: 328px;
    margin-top: -84px;
    border: none;
}